@import "../../scss";

.login {
	width: 100%;
	min-height: 100vh;
	padding: 12% 20px 50px 20px;
	display: flex;
	justify-content: center;
	&.pending {
		pointer-events: none;
		user-select: none;
	}
}

.form {
	width: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	.title {
		color: $nord4;
		font-size: 3rem;
		font-weight: 500;
	}
	.group {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		background: $x-nord0;
	}
}

.error {
	width: 100%;
	padding: 12px 8px;
	border-radius: 6px;
	background: $nord11;
	color: $nord4;
	font-size: 0.875rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.closeButton {
		cursor: pointer;
		color: $nord4;
	}
}