@import "../../scss";

.wrap {
  width: 100%;
  .button {
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $nord4;
    transition: 100ms linear;
    overflow: hidden;
    border: 1px solid transparent;
  }
}

.wrap.contained.default {
  .button {
    background: $nord10;
    border-color: $nord10;
    &:hover {
      background: lighten($nord10, 5%);
      border-color: lighten($nord10, 5%);
    }
    &:active {
      background: lighten($nord10, 8%);
      border-color: lighten($nord10, 8%);
    }
  }
}
.wrap.contained.disabled,
.wrap.contained.pending {
  pointer-events: none;
  .button {
    background: $x-nord1;
    border-color: $x-nord1;
    opacity: 0.5;
  }
}

.wrap.outlined.default {
  .button {
    color: $nord10;
    border-color: $nord10;
    &:hover {
      background: lighten($nord0, 5%);
    }
    &:active {
      background: lighten($nord0, 8%);
    }
  }
}
.wrap.outlined.disabled,
.wrap.outlined.pending {
  pointer-events: none;
  .button {
    color: $x-nord1;
    border-color: $x-nord1;
    opacity: 0.5;
  }
}

.wrap.text.default {
  .button {
    color: $nord10;
    &:hover {
      background: lighten($nord0, 5%);
    }
    &:active {
      background: lighten($nord0, 8%);
    }
  }
}
.wrap.text.disabled,
.wrap.text.pending {
  pointer-events: none;
  .button {
    color: $x-nord1;
    opacity: 0.5;
  }
}
