@import "../../scss";

.buttonLoader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(0.6);
}
.buttonLoader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.buttonLoader div:nth-child(1) {
  left: 8px;
  animation: buttonLoader1 0.6s infinite;
}
.buttonLoader div:nth-child(2) {
  left: 8px;
  animation: buttonLoader2 0.6s infinite;
}
.buttonLoader div:nth-child(3) {
  left: 32px;
  animation: buttonLoader2 0.6s infinite;
}
.buttonLoader div:nth-child(4) {
  left: 56px;
  animation: buttonLoader3 0.6s infinite;
}
@keyframes buttonLoader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes buttonLoader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes buttonLoader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
